.body {
    height: 100vh;
    background-color: #77c4ff;
}

.form-signin{
    width: 40vw;
    border-radius: 2.5rem;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 20px #80868c;
}

form {
    width: 80%;
}