<div class="d-flex justify-content-evenly align-items-center body">
    <!-- <section>
        <img src="../../../assets/password_login.svg" alt="img_password_girl">
    </section> -->
    <section class="d-flex justify-content-center align-items-center my-5">
        <div class="form-signin m-auto d-flex justify-content-center">
            <div>

            </div>
            <form (ngSubmit)="onSubmit()">
                <div class="d-flex justify-content-center align-items-center">
                    <!-- <img src="../../../assets/login_people.svg" alt="img_password_people" width="100" height="100"> -->
                    <h1 class="h3 mb-3 fw-normal ps-3 font mt-5">LOGIN</h1>
                </div>

                <div class="form-floating mt-3">
                    <input type="email" class="form-control focus-ring-success" id="username"  autocomplete="on"
                        placeholder="name@example.com" name="username" [(ngModel)]="username" required>
                    <label for="username">Usuario</label>
                </div>
                <div class="form-floating mt-1">
                    <input type="password" class="form-control focus-ring-success" id="password"  autocomplete="on"
                    placeholder="Password" name="password" [(ngModel)]="password" required>
                <label for="password">Contraseña</label>
                </div>
                <label *ngIf="showErrorMessage" class="text-danger mt-1">{{this.errorMessage}}</label>
                <button class="btn btn-success w-100 py-2 mt-5 focus-ring-success" type="submit">Ingresar</button>
                <p class="mt-5 mb-3 text-body-secondary text-end">© 2024</p>
            </form>
        </div>
    </section>
</div>